<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                        <li class="toolbar-item">
                            
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                        </li>
                </div>
            </div>
        </div>
        
        <customers-grid 
          [customers]="filteredCustomers" 
          ></customers-grid>
          
    </div>
</div>
